{
    "plugins": [
        "wpcalypso"
    ],
    "extends": "wpcalypso",
    "globals": {
        "test": false,
        "expect": false,
        "require": false,
        "module": false,
        "process": false
    }
}
