{
    "plugins": [
        "wpcalypso"
    ],
    "extends": "wpcalypso",
    "globals": {
        "jest": false,
        "beforeEach": false,
        "afterEach": false,
        "test": false,
        "beforeEach": false,
        "afterEach": false,
        "expect": false,
        "require": false,
        "module": false,
        "process": false,
        "console": false,
        "describe": false
    }
}
